apiVersion: v1
kind: Service
metadata:
  name: knhk-warm
  namespace: kgc
  labels:
    app: knhk
    component: warm
spec:
  type: ClusterIP
  ports:
    - name: grpc
      port: 50052
      targetPort: 50052
      protocol: TCP
  selector:
    app: knhk
    component: warm

