├── vendors
│   ├── clap-noun-verb
│   │   ├── .cargo