[package]
name = "knhk-etl"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "staticlib"]

[dependencies]
knhk-connectors = { path = "../knhk-connectors", version = "0.1.0", features = [
  "std",
] }
knhk-hot = { path = "../knhk-hot", version = "1.0.0", optional = true }
knhk-lockchain = { path = "../knhk-lockchain", version = "0.1.0", features = [
  "std",
], optional = true }
knhk-otel = { path = "../knhk-otel", version = "0.1.0", optional = true }
hashbrown = { version = "0.15", default-features = false }
hex = { version = "0.4", default-features = false }
rio_turtle = { version = "0.8.5", default-features = false }
rio_api = { version = "0.8.5", default-features = false }

[dependencies.reqwest]
version = "0.11"
features = ["json"]
optional = true

[dependencies.rdkafka]
version = "0.36"
optional = true

[dependencies.serde_json]
version = "1.0"
optional = true

[features]
default = []
std = [
  "reqwest",
  "serde_json",
  "knhk-hot",
  "knhk-otel",
  "knhk-lockchain/std",
]
kafka = ["std", "rdkafka"]
grpc = ["std"]

[dev-dependencies]
# Test dependencies
